<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="page-header">Login</h1>
        <form>
            <div class="form-group">
                <label>E-Mail:</label>
                <input class="form-control" type="email" placeholder="Geben Sie ihre e-Mail-Adresse ein" />
            </div>
            <div class="form-group">
                <label>Passwort:</label>
                <input class="form-control" type="password" placeholder="Passwort" />
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">Login</button> oder <a href="#/signup">registrieren.</a>
            </div>
        </form>
    </div>
</div>
