<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <br/>
		<alert data-ng-show="result.message" close="result.message=''">
            <p>{{result.message}}</p>
		</alert> 
        <h1 class="page-header">Login</h1>
        <form data-ng-submit="login()">
			
            <div class="form-group">
                <label>E-Mail:</label>
                <input class="form-control" type="email" placeholder="Geben Sie ihre e-Mail-Adresse ein" data-ng-model="loginData.email" required />
            </div>
            <div class="form-group">
                <label>Passwort:</label>
                <input class="form-control" type="password" placeholder="Passwort" data-ng-model="loginData.password" required />
            </div>
            <div class="form-group text-center">
                <input class="btn btn-primary" type="submit" value="Einloggen"> oder <a href="#/signup">registrieren.</a>
            </div>
        </form>
    </div>
</div>
