<div class="jumbotron text-center">
	<h1>Anonymes Feedbacksystem</h1>
</div>
<!--
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <form class="input-group form-group" data-ng-submit="shorten()">
            <input class="form-control" type="text" placeholder="Deine URL hier" data-ng-model="longUrl" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Shorten</button>
            </span>
        </form>

        <form class="input-group form-group hidden-xs hidden-sm">
            <input class="form-control" type="text" style="cursor:text;" readonly
                   select-on-click
                   tooltip="Dr&uuml;cken Sie Strg + C zum kopieren"
                   tooltip-trigger="focus"
                   data-ng-model="shortUrl" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" clip-copy="getTextToCopy()"><i class="fa fa-clipboard"></i></button>
            </span>
        </form>

        <form class="input-group form-group hidden-md hidden-lg">
            <span class="input-group-btn">
                <button class="btn" clip-copy="getTextToCopy()" style="pointer-events: none;cursor: not-allowed;">Ihr Kurzlink:</button>
            </span>
            <input class="form-control" type="text" style="cursor:text;" readonly
                   select-on-click
                   tooltip="Dr&uuml;cken Sie Strg + C zum kopieren"
                   tooltip-trigger="focus"
                   data-ng-model="shortUrl" />
        </form>
    </div>

    <div class="col-md-4 col-md-offset-2">
        <pre>{{bitRes | json}}</pre>
    </div>
</div>

-->
