<div ng-hide="preview">
    <div class="row col-md-10 col-md-offset-1">
        <h1 class="page-header">Neue Umfrage erstellen</h1>
    </div>

    <div class="row col-md-10 col-md-offset-1">
        <input maxlength="100" class="form-control text-center" type="text" data-ng-model="title" placeholder="Unbenannte Umfrage"/>
    </div>

    <div class="row col-md-10 col-md-offset-1">
        <h2>Fragen</h2>
        <div id="questions">
            <div ng-repeat="field in fields">
                <ng-include src="'views/surveys/question-field.html'" />
            </div>
        </div>
        <button class="btn btn-primary" data-ng-click="addQuestion()"><i class="fa fa-plus"></i>&nbsp;Neue Frage hinzufügen</button>
    </div>

    <div class="row col-md-10 col-md-offset-1">
        <h2>Empfänger</h2>
        <textarea data-ng-model="emails" placeholder="E-Mail Adressen bitte durch Semikolon getrennt eingeben" rows="4" style="width:50%"></textarea>
    </div>

    <div class="row col-md-10 col-md-offset-1">
        <h2>Optionen</h2>
        <alert data-ng-show="checkMessage != ''" close="checkMessage = ''" style="padding:5px;width:50%">
            {{checkMessage}}
		</alert>
        <button class="btn btn-default" data-ng-click="cancel()">Abbrechen</button>
        <button class="btn btn-success"  data-ng-click="submit('draft')">Entwurf speichern</button>
        <button class="btn btn-info" data-ng-click="togglePreview()">Vorschau</button>

    </div>
</div>

<div ng-show="preview">
    <div class="row col-md-10 col-md-offset-1">
        <h1 class="page-header">{{title}}</h1>
    </div>

    <div class="row col-md-10 col-md-offset-1 ">
        <div id="questions">
            <div ng-repeat="field in fields">
                <ng-include src="'views/surveys/preview-field.html'" />
            </div>
        </div>
    </div>

    <div class="row col-md-10 col-md-offset-1">
        <h2>Optionen</h2>
        <button class="btn btn-default" data-ng-click="togglePreview()">Zurück</button>
        <button class="btn btn-success" data-ng-click="submit('draft')">Entwurf speichern</button>
        <button class="btn btn-info" data-ng-click="submit('active')">Umfrage freischalten</button>
    </div>
</div>
<!--

<div class="row col-md-5 col-md-offset-1">
    <h2>Teilnehmer</h2>
    <div class="radio-inline">
      <label>
        <input type="radio" name="optionsRadios" ng-model="content" id="optionsRadios1" value="option1" checked>
        Öffentlicher Link
      </label>
    </div>
    <div class="radio-inline">
      <label>
        <input type="radio" name="optionsRadios" ng-model="content" id="optionsRadios2" value="option2">
        Emfpängerliste
      </label>
    </div>

    <div class="input-group" ng-show="content == 'option1'">
        <input class="form-control" type="text" value="http://www.afs.de/dXYjklsefs" style="cursor:text;" readonly="readonly">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Link kopieren</button>
        </span>
    </div>
    <div ng-show="content == 'option2'">
        <tags-input data-ng-model="emails" placeholder="E-Mail Adressen hier eingeben" add-on-space="true" enable-editing-last-tag="true" type="email" replace-spaces-with-dashes="false"></tags-input>
    </div>

    <h2>Zeitraum</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>Start</h4>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="date[0].value" is-open="openedStart" min-date="minDate" max-date="'2099-12-31'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" id="btnStart" ng-click="open($event)" ><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-6">
            <h4>Ende</h4>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="date[1].value" is-open="openedEnd" value="2099-12-31" min-date="minDate" max-date="'2099-12-31'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)" id="btnEnd"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <button class="btn btn-success" ng-click="getQuestions()">Umfrage freischalten</button>
</div>
-->
