    <div class="row col-md-10 col-md-offset-1">
        <h1 class="page-header" style="text-align:center">{{title}}</h1>
    </div>

    <div class="row col-md-10 col-md-offset-1 ">
        <form id="questions" data-ng-submit="send()">
            <div ng-repeat="field in fields">
                <ng-include src="'views/surveys/preview-field.html'"/>
            </div>
        </form>

        <input form="questions" class="btn btn-success" type="submit" valie="Antwort abschicken" />
    </div>

