<div class="row col-md-10 col-md-offset-1">
    <h1 class="page-header">Platzhalter f&uuml;r Titel{{survey.title}}</h1>
</div>

<div class="row col-md-10 col-md-offset-1 ">
    <div id="questions">
        <div ng-repeat="field in fields">
            <ng-include src="'views/surveys/preview-field.html'"/>
        </div>
    </div>
</div>

<div class="row col-md-10 col-md-offset-1">
    <h2>Optionen</h2>
    <button class="btn btn-default" data-ng-click="cancel()">Abbrechen</button>
    <button class="btn btn-success" data-ng-click="submit('activate')">Speichern und Schließen</button>
    <button class="btn btn-info" data-ng-click="submit('activate')">Umfrage Freischalten</button>
</div>
