<div class="row col-md-4 col-md-offset-4">
    <div>
        <h1 class="page-header">Link zur Umfrage</h1>
    </div>
    <div>
        <form class="form-group">
            <public-link url="tokenUrl"></public-link>
        </form>
		<h2>Verk&uuml;rzte URL</h2>
		<form class="form-group">
			<public-link url="shortUrl"></public-link>
		</form>
		<img class="img-responsive center-block" ng-src="{{'https://api.qrserver.com/v1/create-qr-code/?data=http:%2F%2Fbit.ly%2F'+hash+'&size=200x200'}}" />
    </div>
	<hr>
    <div>
        <button class="btn btn-default" ng-click="go('/home')">Zu meinen Umfragen</button>
    </div>
</div>
