<br>
<div class="row col-md-10 col-md-offset-1">
    <div id="questions">
        <div ng-repeat="n in getNumber(number) track by $index" ng-include src="'views/surveys/question-field.html'"></ng-include></div>

    </div>


    <button class="btn btn-default" data-ng-click="addQuestion()">Neue Frage hinzufügen</button><br /><br />

    <textarea class="col-sm-6" rows="5" align= "text-center" placeholder="Mehrere Empfänger durch Semikolon getrennt eingeben"></textarea>
    <br /><br /><br /><br /><br /><br />
    <button class="btn btn-default">Vorschau</button>
    <button class="btn btn-default">Umfrage freischalten</button>


</div>