<div class="jumbotron">
    <h1 class="text-center">Users CRUD example</h1>
</div>
<div class="row">
    <div class="col-md-8 text-center">
        <button class="btn btn-primary btn-lg" data-ng-click="list()">List</button>
        <hr>
        <div class="col-md-3">
            <button class="btn btn-success btn-block" data-ng-click="create()">Create</button>
            <hr>
            <input class="form-control" type="email" placeholder="eMail" data-ng-model="createData.email" />
            <input class="form-control" type="password" placeholder="Passwort" data-ng-model="createData.password" />
        </div>
        <div class="col-md-3">
            <button class="btn btn-info btn-block" data-ng-click="read()">Read</button>
            <hr>
            <input class="form-control" type="text" placeholder="ID" data-ng-model="readData.id" />
        </div>
        <div class="col-md-3">
            <button class="btn btn-warning btn-block" data-ng-click="update()">Update</button>
            <hr>
            <input class="form-control" type="text" placeholder="ID" data-ng-model="updateData.id" />
            <input class="form-control" type="email" placeholder="eMail" data-ng-model="updateData.email" />
            <input class="form-control" type="password" placeholder="Passwort" data-ng-model="updateData.password" />
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger btn-block" data-ng-click="delete()">Delete</button>
            <hr>
            <input class="form-control" type="text" placeholder="ID" data-ng-model="deleteData.id" />
        </div>
    </div>
    <div class="col-md-4">
        <pre>{{result | json}}</pre>
    </div>
</div>
