.container {
	padding-top: 50px;
	min-height: 100vh;
	z-index: -5;
	padding-bottom: 90px;
}
.navbar-bottom {
	margin-top: -75px;
	margin-bottom: 0;
}
.navbar-bottom > div {
	float: none;
}
.afs-corner-btn {
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	float: right;
}
.progress {
	margin-bottom: 0 !important;
}
.nv-bar {
	fill: #428bca !important;
	stroke: #428bca !important;
	stroke-opacity: 1 !important;
}
.discreteBar {
	stroke-opacity: 1 !important;
}

/*********************************/
/*******RANGE-STYLES**************/
/*********************************/

.range-number {
	border-radius: 50%;
	background-color: #FFF;
	box-shadow: none;
	border: 5px solid #676767;
	height: 25px;
	width: 25px;
	color: #333;
	text-align: center;
	padding: 0;
	padding-top: 2px;
}
input[type="range"] {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline: none;
	width: 100%;
	height: 14px;
	margin-top: 3px;
	background: #dc6950;
	/* Old browsers */
	background-image: -moz-linear-gradient(left, #dc6950 0%, #dc6950 55%, #9bae5e 55%, #9bae5e 55%, #9bae5e 100%);
	/* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #dc6950), color-stop(55%, #dc6950), color-stop(55%, #9bae5e), color-stop(55%, #9bae5e), color-stop(100%, #9bae5e));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(left, #dc6950 0%, #dc6950 55%, #9bae5e 55%, #9bae5e 55%, #9bae5e 100%);
	/* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(left, #dc6950 0%, #dc6950 55%, #9bae5e 55%, #9bae5e 55%, #9bae5e 100%);
	/* Opera 11.10+ */
	background-image: -ms-linear-gradient(left, #dc6950 0%, #dc6950 55%, #9bae5e 55%, #9bae5e 55%, #9bae5e 100%);
	/* IE10+ */
	background-image: linear-gradient(to right, #dc6950 0%, #dc6950 55%, #9bae5e 55%, #9bae5e 55%, #9bae5e 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dc6950', endColorstr='#9bae5e', GradientType=1);
	/* IE6-9 */
	border-radius: 15px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 50%;
	background-color: #FFF;
	box-shadow: none;
	border: 5px solid #676767;
	height: 25px;
	width: 25px;
}
input[type="range"]::-moz-range-thumb {
	border-radius: 50%;
	background-color: #FFF;
	box-shadow: none;
	border: 5px solid #676767;
	height: 19px;
	width: 19px;
}
input[type=range]::-moz-focus-outer {
	border: 0;
}
input[type="range"]::-moz-range-track {
	border: inherit;
	background: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
	background: transparent;
}
@media print {
	.chart {
		margin-left: -100px;
		overflow: visible;
	}
	svg {
		overflow: visible !important;
		transform: scaleX(0.7);
	}
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	input[type="range"] {
		height: auto;
		background: none;
		margin-top: -10px;
	}
}
