.container {
    padding-top: 50px;
	min-height: 100vh;
	z-index: -5;
	padding-bottom: 60px;
}
.navbar-bottom {
	margin-top: -52px;
	margin-bottom: 0;
}
.navbar-bottom > div {
	float: none;
}

.afs-corner-btn{
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    
    float:right;
}

.progress {
    margin-bottom: 0 !important;
}

.nv-bar {
    fill: #428bca !important;
    stroke: #428bca !important;
    stroke-opacity: 1 !important;
}

.discreteBar {
 stroke-opacity: 1 !important;
}


