<div class="panel panel-default">
    <div class="panel-heading"><b>{{field.title}}   </b></div>
    <div class="panel-body">
       <span ng-switch on="field.type">
              <span ng-switch-when="Slider">
                  Sehr Schlecht (0)  <rating ng-model="field.rate" max="10" style="width:100%"></rating> (10) Sehr gut
              </span>
              <span ng-switch-when="TextArea">
                <textarea class="form-control" rows="5" style="width:100%" ng-model="field.input"></textarea>

              </span>
        </span>
    </div>
</div>
