<div class="panel panel-default">
    <div class="panel-heading"><b>{{field.title}}</b></div>
    <div class="panel-body">
       <span ng-switch on="field.type">
              <span ng-switch-when="Slider">
				  <span class="hidden-sm hidden-xs row">
					  <div class="col-md-2 text-right">Sehr schlecht</div>
					  <div class="col-md-7"><input type="range" name="rate" default="6" ng-model="field.rate" min="1" max="10"/></div>
					  <div class="col-md-2">Sehr gut</div>
					  <div class="col-md-1 text-center"><span class="badge range-number text-center">{{field.rate}}</span></div>
				  </span>
				  <span class="hidden-md hidden-lg row">
					  <div class="row">
					  	<div class="col-xs-6 text-left">Sehr schlecht</div>
					  	<div class="col-xs-5 text-right">Sehr gut</div>
					  </div>
					  <div class="row">
						  <div class="col-xs-11"><input type="range" name="rate" default="6" ng-model="field.rate" min="1" max="10"/></div>
						  <div class="col-xs-1 text-center"><span class="badge range-number text-center">{{field.rate}}</span></div>
					  </div>
				  </span>

              </span>
              <span ng-switch-when="TextArea">
                <textarea class="form-control" maxlength="1000" rows="5" style="width:100%;resize:vertical" ng-model="field.input" required></textarea>
                {{1000 - field.input.length}} Zeichen verbleibend
              </span>
        </span>
    </div>
</div>
