<div class="form-group">
    <div class="hidden-xs input-group">
        <input class="form-control" type="text" style="cursor:text;" readonly select-on-click tooltip="Dr&uuml;cken Sie Strg + C zum kopieren" tooltip-trigger="focus" data-ng-model="url" />
        <span class="input-group-btn">
			<button class="btn btn-default" type="submit" clip-copy="getTextToCopy()"><i class="fa fa-clipboard"></i></button>
		</span>
    </div>
    <div class="hidden-md hidden-sm hidden-lg">
        <input class="form-control" type="text" style="cursor:text;" readonly select-on-click data-ng-model="url"></input>
    </div>
</div>
